@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .display-1-bold {
    @apply font-bold text-custom tracking-custom text-white-200;
  }
  .display-2-bold {
    @apply font-bold text-custom_1 tracking-custom text-white-200;
  }
  .heading-1-medium {
    @apply font-medium text-custom_2 text-white-200;
  }
  .heading-2-medium {
    @apply font-medium text-base text-white-200;
  }
  .paragraph-1-bold {
    @apply font-bold text-custom_4 text-white-200;
  }
  .paragraph-2-bold {
    @apply font-bold text-base text-white-200;
  }
  .paragraph-3-bold {
    @apply font-bold text-sm text-white-200;
  }
  .paragraph-4-bold {
    @apply font-bold text-xs text-white-200;
  }
  .paragraph-1-medium {
    @apply font-medium text-custom_4 text-white-200;
  }
  .paragraph-2-medium {
    @apply font-medium text-base text-white-200;
  }
  .paragraph-3-medium {
    @apply font-medium text-sm text-white-200;
  }
  .paragraph-4-medium {
    @apply font-medium text-xs text-white-200;
  }
  .paragraph-1-regular {
    @apply font-normal text-lg text-white-200;
  }
  .paragraph-2-regular {
    @apply font-normal text-base text-white-200;
  }
  .paragraph-3-regular {
    @apply font-normal text-sm text-white-400 dark:text-white-300;
  }
  .paragraph-4-regular {
    @apply font-normal text-xs text-white-200;
  }
  .subtitle-small {
    @apply font-normal text-custom_5 text-white-200;
  }
  .caption-cap-10 {
    @apply font-normal text-custom_6 text-white-200;
  }
  .caption-cap-8 {
    @apply font-normal text-custom_7 text-white-200;
  }
  .text-dark100_light900 {
    @apply text-dark-700 dark:text-white-400;
  }
  .light-toggle {
    @apply bg-primary1-100 dark:bg-transparent cursor-pointer;
  }
  .dark-toggle {
    @apply dark:bg-transparent  dark:bg-dark-700 cursor-pointer;
  }
  .input-form {
    @apply bg-white-100 text-dark-800 dark:bg-dark-800 dark:text-white-100;
  }
  .secondary-button {
    @apply bg-white-100 text-dark-700 dark:bg-dark-700 dark:text-white-200;
  }
  .link-button {
    @apply paragraph-3-bold flex h-[36px] w-full items-center justify-center rounded-md px-2 py-1;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #4448691a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
